[Unit]
Description=Clash Daemon
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=docker rm -f clash
ExecStart=docker run --rm --network host --device /dev/net/tun:/dev/net/tun --cap-add NET_ADMIN -e CLASH_URL=http://xx.xx -e TUN=true --name clash rise0chen/clash

[Install]
WantedBy=multi-user.target
